<header>
    <h1>Vind jouw perfecte maatje</h1>

    <nav>
        <ul>
            <li><a href="#">
                    <img src="static/images/logoPawfinder.png" alt="Logo PawFinder">
                </a></li>
            <li><a href='#'>
                    <img src="static/images/mijnAccount.png" alt="Mijn Account">
                </a></li>
        </ul>
    </nav>

    <hr>

</header>