<section class="facts">

    <hr>

    <p class="firstp">Ben je niet opzoek naar een dier in het asiel?</p>
    <p>Geniet dan hier van random dieren die alles behalve een huisdier zijn.</p>

    {{!-- Lege lijst die wordt gevuld met 2 random zoo dieren. --}}
    <ul></ul>

    <button>Ik wil random dieren zien!</button>
</section>