<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Link voor Google Font Inter --}}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    {{!-- Link naar style.css --}}
    <link rel="stylesheet" href="static/css/style.css">
    <title>PawFinder</title>
</head>

<body>
    {{!-- Ophalen uit partials -> header.hbs --}}
    {{> header}}
    {{!-- Ophalen uit matches.hbs --}}
    {{{body}}}

    {{!-- Ophalen uit partials -> randomfacts.hbs --}}
    {{> randomfacts}}

    {{!-- Script.js wordt gekoppeld aan matches.hbs --}}
    <script src="../static/script/script.js"></script>
</body>

</html>