<main id="filters">
    <section>
        <form action="/" method="POST">
            <input type="checkbox" id="diersoort1" name="diersoort1" value="hond">
            <label for="vehicle1"> Ik zoek een hond</label><br>
            <input type="checkbox" id="diersoort2" name="diersoort2" value="Kat">
            <label for="vehicle2"> Ik zoek een kat</label><br>
            <input type="checkbox" id="diersoort3" name="diersoort3" value="Konijn">
            <label for="vehicle3"> Ik zoek een konijn</label>
        </form>
    </section>
</main>