<main id="matches">

    <section>
        <form action="/" method="POST">
            <input type="checkbox" id="diersoort1" name="diersoort1" value="hond">
            <label for="vehicle1"> Ik zoek een hond</label><br>
            <input type="checkbox" id="diersoort2" name="diersoort2" value="Kat">
            <label for="vehicle2"> Ik zoek een kat</label><br>
            <input type="checkbox" id="diersoort3" name="diersoort3" value="Konijn">
            <label for="vehicle3"> Ik zoek een konijn</label>
        </form>
    </section>

    <section>
        <h2>Mijn matches</h2>
    </section>

    <section>
        <a href="#">
            <img src="static/images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Buldog</h3>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Kitten</h3>
                <p>Asiel Den Helder</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Hamster</h3>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>

        <a href="#">
            <img src="images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Lapjeskat</h3>
                <p>Dierentehuis Den Helder</p>
            </div>
        </a>

        <a href="#">
            <img src="images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Kitten</h3>
                <p>Dierenpension 't Schipperke</p>
            </div>
        </a>

        <a href="#">
            <img src="images/Hond.jpg" alt="foto van een dier">
            <div>
                <h3>Konijn</h3>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>
    </section>

</main>