<main id="matches">

    {{!-- Section 1 --}}
    <section>

        {{!-- Wanneer er op verzonden wordt gedrukt verstuurt browser naar de server,
        browser wordt naar /formulier geleid --}}
        <form action="/formulier" method="POST">
            <fieldset>
                {{!-- Radiobuttons met diersoorten --}}
                <input type="radio" id="hond" name="diersoort" value="hond" />
                <label for="hond">Ik zoek een hond</label>
                <input type="radio" id="kat" name="diersoort" value="kat" />
                <label for="kat">Ik zoek een kat</label>
                <input type="radio" id="knaagdier" name="diersoort" value="knaagdier" />
                <label for="knaagdier">Ik zoek een knaagdier</label>
                <input type="radio" id="overig" name="diersoort" value="overig" />
                <label for="overig">Ik zoek iets anders</label>
            </fieldset>
            <button type="submit">Opslaan</button>
        </form>
    </section>

    {{!-- Section 2 --}}
    <section>
        <h2>Mijn matches</h2>
    </section>

    {{!-- Section 3 --}}
    <section>

        {{!-- Loop met hbs om alle dieren te weergeven --}}
        {{#each dieren}}
        <a href="#">
            <img src={{this.imgSrc}} alt="foto van een dier" />
            <div>
                <h3>{{this.naam}}</h3>
                <h4>{{this.ras}}</h4>
                <p>{{this.locatie}}</p>
            </div>
        </a>
        {{/each}}
    </section>

</main>