<main>
    <section>
        <h2>matches</h2>
        <button>Filteren</button>
    </section>

    <section>
        <a href="#">
            <img src="" alt="foto van een dier">
            <h3>Buldog</h3>
            <p>Dierentehuis Hoorn</p>
        </a>
        <a href="#">
            <img src="" alt="foto van een dier">
            <h3>Kitten</h3>
            <p>Asiel Den Helder</p>
        </a>
        <a href="#">
            <img src="" alt="foto van een dier">
            <h3>Hamster</h3>
            <p>Dierentehuis Hoorn</p>
        </a>
    </section>
</main>