<main id="matches">

    {{!-- Section 1 --}}
    <section>

        <form action="/" method="POST">
            <fieldset>
                <input type="checkbox" id="hond" name="diersoort1" value="hond">
                <label for="diersoort1"> Ik zoek een hond</label>
                <input type="checkbox" id="kat" name="diersoort2" value="kat">
                <label for="diersoort2"> Ik zoek een kat</label>
                <input type="checkbox" id="knaagdier" name="diersoort3" value="knaagdier">
                <label for="diersoort3"> Ik zoek een knaagdier</label>
                <input type="checkbox" id="knaagdier" name="diersoort4" value="Overig">
                <label for="diersoort3"> Ik zoek iets anders</label>
            </fieldset>
            <button type="submit">Opslaan</button>
        </form>
    </section>

    {{!-- Section 2 --}}
    <section>
        <h2>Mijn matches</h2>
    </section>

    {{!-- Section 3 --}}
    <section>
        <a href="#">
            <img src="static/images/hondBulldog.png" alt="foto van een dier">
            <div>
                <h3>Bowser</h3>
                <h4>Bulldog</h4>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/hondLabrador.png" alt="foto van een dier">
            <div>
                <h3>Sammy</h3>
                <h4>Labrador</h4>
                <p>Asiel Den Helder</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/konijnBruin.png" alt="foto van een dier">
            <div>
                <h3>Snuf</h3>
                <h4>Konijn</h4>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/katLapjeskat.png" alt="foto van een dier">
            <div>
                <h3>Vlek</h3>
                <h4>Lapjeskat</h4>
                <p>Dierentehuis Den Helder</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/katKitten.png" alt="foto van een dier">
            <div>
                <h3>Pip</h3>
                <h4>Kitten</h4>
                <p>Dierenpension 't Schipperke</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/hondPoedel.png" alt="foto van een dier">
            <div>
                <h3>Beau</h3>
                <h4>Poedel</h4>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/hondOnbekend.png" alt="foto van een dier">
            <div>
                <h3>Jordi</h3>
                <h4>Onbekend</h4>
                <p>Dierentehuis Alkmaar</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/hondHerder.png" alt="foto van een dier">
            <div>
                <h3>Monti</h3>
                <h4>Herder</h4>
                <p>Dierenpension 't Schipperke</p>
            </div>
        </a>

        <a href="#">
            <img src="static/images/katGrijs.png" alt="foto van een dier">
            <div>
                <h3>Kay</h3>
                <h4>kat</h4>
                <p>Dierentehuis Hoorn</p>
            </div>
        </a>
    </section>

</main>